.logo{
 width: 35px;
 height: 35px;
}
a{
    font-family: Serif;
}
.nav-bg{
    background-color: #eeeeee;
}
.search-box{
    position: relative;

}
.search-icon{
    position: absolute;
    top: 25%;
    right: 0;
}