<div class="container user-list">
    <div class="d-flex justify-content-center" *ngIf="spinner">
        <i class="fa-solid fa-spinner fa-spin loading-icon"></i>
    </div>

    <div *ngIf="!spinner">
        <!--display users in cards by calling user-card component and sending data-->
        <div class="row gx-5 gy-4">
            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let user of userList; let i = index">
                <app-user-card [user-data]="user"></app-user-card>
            </div>
        </div>

        <!--end of list-->
        <div class="mt-5 d-flex justify-content-between align-items-center" *ngIf="userSerchById ==0">
            <div>
                <p class="pagination-hint"><span>Total Pages: </span> <span> {{totalPages}}</span></p>
            </div>
            <!--pagination-->
            <div>
                <nav aria-label="Page navigation example mt-4">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <button class="page-link"  [ngClass]="{disabled:currentPage === 1}"
                        (click)="getUsersListByPage(currentPage-1)">Previous</button>
                      </li>
                      <li class="page-item ms-1" *ngFor="let e of generateNumberArray(totalPages)">
                        <button class="page-link" [ngClass]="{isCurrent:currentPage === e}" (click)="getUsersListByPage(e)">
                            {{e}}</button>
                      </li>
                      <li class="page-item ms-1">
                        <button class="page-link" [ngClass]="{disabled : currentPage === totalPages}"
                        (click)="getUsersListByPage(currentPage+1)">Next</button>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>