@import "../../../app.component.scss";

.circle-card {
    border: 2px dashed;
    border-radius: 50%;
    border-color: $lightRedColor;
    height: 8vw;
    width: 8vw;
    max-height: 84px;
    max-width: 84px;
    background-color: $whiteColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.95vw;
    transition-duration: 0.4s;
    // transition-timing-function: ease-in-out;
    img{
        border-radius: 50%;
    }
   
}
.card{
    transition-duration: 0.3s ;
    // transition-timing-function: ease-in-out !important;
}
h5{
    color: $greenColor;
    font-family: Sans-serif;
}
.cards-icon{
    color: $lightRedColor;
}
.card-id{
    color: $greyColor ;
    font-weight: bold;
    font-family: Serif;
}
.card:hover{
    cursor: pointer;
    background: $lightRedColor;
    
    h5 , .cards-icon{
        color: $whiteColor;
    }
    .card-id{
        color: black;
    }
    .circle-card{
        // animation: spin-animation 0.6s ease 1;
        background-color: $lightRedColor;
        border-color: $whiteColor;
    }
}
@media only screen and (max-width: 768px){
    .circle-card{
        width: 25vw;
        height: 25vw;
    }
}